.Edu{
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
    
}
.educ{
    margin-left: 100px;
}
.details{
    margin-left: 230px;
}

body{
    background-color: black;
    color: white;
}

.navbar{
    margin-left: 60%;
    margin-top: 20px;
}
.nav{
    margin-left: 20px;
    color: rgb(255, 255, 255);
    font-size: 19px;
 
}
