.navbar{
    margin-left: 60%;
    margin-top: 20px;
}
.nav{
    margin-left: 20px;
    color: rgb(255, 255, 255);
    font-size: 19px;
 
}


body{
    /* background: rgb(238,174,202);
background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%); */
background-color: rgb(0, 0, 0);
color: white;
}
.divs{
    /* border: 1px solid; */
    margin-top: 7%;
    margin-left: 100px;
    margin-right: 100px;
    background: rgb(162,89,121);
    background: rgb(135,103,129);
    background: linear-gradient(90deg, rgba(135,103,129,1) 7%, rgba(11,10,10,1) 77%);
    border-radius: 50px;
    color:white;
}
.pdiv{
   
    margin-right: 320px;
    margin-left: 100px;
    margin-bottom: 30px;
}
.dha{
    width: 260px;
    border-radius: 180px;
    float: right;
}
.dharsh{
    font-family: 'Open Sans', sans-serif;
    font-size: 50px;
}